$light-grey: #cccccc;
$orange: #FFAC1C;
$green: #4CBB17;	

body {
  background-color: --light;
}

.button {
  padding: 10px 15px;
  background-color: $light-grey;
  color: white;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: $green;
  }
}

.graph-container {
  @apply bg-white p-6 shadow-md rounded-lg;
}
.page-container {
  @apply flex flex-col items-center p-4;
}
